<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.ebook.dao.MemberDao">
  <select id="getMember" resultType="kr.green.ebook.vo.MemberVo">
    select * from member where id = #{id}
  </select>
  <insert id="insertMember">
  	insert into
  		Member(id,pw,name,email,gender)
  		values(#{member.id},#{member.pw},#{member.name},#{member.email},#{member.gender})
  </insert>
  
  <select id="memberList" resultType="kr.green.ebook.vo.MemberVo">
		select * from member
  			where isDel='N'
  			<if test="cri.type==0">
  				and (id like concat('%',#{cri.search},'%')
  					or email like concat('%',#{cri.search},'%')
  					or isDel like concat('%',#{cri.search},'%'))
  			</if>
  			<if test="cri.type==1">
  				and id like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==2">
  				and email like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==3">
  				and isDel like concat('%',#{cri.search},'%')
  			</if>
  			order by m_num desc
  			limit #{cri.startPage},#{cri.perPageNum}
  </select>
    <select id="getTotalCountByMember" resultType="int">
		select
			count(*)
		from
			member
			where isDel = 'N'
  			<if test="cri.type==0">
  				and (id like concat('%',#{cri.search},'%')
  					or name like concat('%',#{cri.search},'%')
  					or email like concat('%',#{cri.search},'%'))
  			</if>
  			<if test="cri.type==1">
  				and id like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==2">
  				and name like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==3">
  				and email like concat('%',#{cri.search},'%')
  			</if>
  </select>
  <!-- 찜목록 -->
  	<select id="getChoiceList" resultType="kr.green.ebook.vo.ToonVo">
  		select * from toon
			join (SELECT * FROM choice where ch_id = #{id}) as t
			on t_title = ch_title;
	</select>
<!-- 충전 -->
	<update id="updatecoin">
		update  member
			set
				coin=#{member.coin}
			where id=#{member.id}
				
	</update>
</mapper>