<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.ebook.dao.AdminDao">

<!-- 작품내용을 저장해 놓음 -->
  <select id="toonList" resultType="kr.green.ebook.vo.ToonVo">
		select * from toon
			where 1=1
			<if test="cri.type==0">
  				and (title like concat('%',#{cri.search},'%')
  					or artist like concat('%',#{cri.search},'%')
  					or lastEpisode like concat('%',#{cri.search},'%'))
  			</if>
  			<if test="cri.type==1">
  				and title like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==2">
  				and artist like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==3">
  				and lastEpisode like concat('%',#{cri.search},'%')
  			</if>
  			order by t_num desc
  			limit #{cri.startPage},#{cri.perPageNum}
  </select>
 <!-- 작품페이지네이션 -->
    <select id="getTotalCountByToon" resultType="int">
		select count(*) from toon
			where 1=1
  			<if test="cri.type==1">
  				and (title like concat('%',#{cri.search},'%')
  					or artist like concat('%',#{cri.search},'%')
  					or lastEpisode like concat('%',#{cri.search},'%'))
  			</if>
  			<if test="cri.type==2">
  				and title like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==3">
  				and artist like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==4">
  				and lastEpisode like concat('%',#{cri.search},'%')
  			</if>
  </select>

 <!-- 번호작품 -->
<select id="getToon" resultType="kr.green.ebook.vo.ToonVo">
		select * from toon where t_num = #{num}
</select>
 <!-- 번호작품 -->
<select id="getToont" resultType="kr.green.ebook.vo.ToonVo">
		select * from toon where t_title = #{Title}
</select>
<!-- 작품 등록 -->
	<insert id="insertToon">
		insert into
			toon(title,t_title,artist,plot,t_img,t_week,t_type,t_typify)
			values(#{toon.title},#{toon.t_title},#{toon.artist},#{toon.plot},#{toon.t_img},#{toon.t_week},#{toon.t_type},#{toon.t_typify})
	</insert>
<!-- 작품 수정 및 업데이트 -->	
	<update id="updateToon">
		update toon
			set
				title = #{toon.title},
				t_title = #{toon.t_title},
				artist = #{toon.artist},
				plot = #{toon.plot},
				t_img = #{toon.t_img},
				t_typify = #{toon.t_typify},
				t_week = #{toon.t_week},
				t_type = #{toon.t_type},
				t_views = #{toon.t_views},
				lastEpisode = #{toon.lastEpisode},
				choice = #{toon.choice},
				up = #{toon.up},
				t_lastEpdate = #{toon.t_lastEpdate}
			where
				t_title = #{toon.t_title}
	</update>
<!-- 연재 등록 -->
	<insert id="insertEp">
		insert into
			episode(e_t_title,e_edition,e_title,e_img,e_coin)
			values(#{ep.e_t_title},#{ep.e_edition},#{ep.e_title},#{ep.e_img},#{ep.e_coin})
	</insert>

<!-- 요일 -->
	<select id="weekList" resultType="kr.green.ebook.vo.ToonVo">
		select * from toon where t_week   			
	</select>
<!-- 요일(영어) 선택 -->
	<select id="getWeek" resultType="kr.green.ebook.vo.WeekVo"> 
		select * from week where w_code = #{t_week} 
	</select>
<!-- 장르 선택  -->
	<select id="toonType">
		select * from toon where t_type
	</select>
	
	<!-- 연재불러오기 -->
	<select id="getEpList" resultType="kr.green.ebook.vo.EpisodeVo"> 
		SELECT * FROM episode 
			join (SELECT * FROM toon where t_title like #{Title}) as at
			on e_t_title = t_title
			where e_img like concat('%',#{edition},'%');
	</select>
	<!-- 연재 대표이미지 -->
	<select id="getEp" resultType="kr.green.ebook.vo.EpisodeVo">
		select * from episode
			join (SELECT * FROM toon where t_title like #{Title}) as t
			on e_t_title = t_title
			where e_img like '%cover%' and e_edition = #{edition}
	</select>
		<select id="getEpcoverlist" resultType="kr.green.ebook.vo.EpisodeVo">
		select * from episode
			join (SELECT * FROM toon where t_title like #{Title}) as t
			on e_t_title = t_title
			where e_img like '%cover%'
	</select>
	
<!-- 연재댓글 가져오기 -->
	<select id="getCmtList" resultType="kr.green.ebook.vo.EpcommentVo">
		select * from epcomment
			join (SELECT * FROM toon where t_title like #{Title}) as st
			on co_epTitle = t_title
			where co_epEdition like #{edition}
			order by co_num desc
	</select>
	
<!-- 댓글 등록 -->
	<insert id="insertEpcmt">
		insert into
			epcomment(co_content,co_member,co_epTitle,co_epEdition)
			values(#{epcmt.co_content},#{epcmt.co_member},#{epcmt.co_epTitle},#{epcmt.co_epEdition})
	</insert>
<!-- 찜하기 기능 -->
	<select id="getChoice" resultType="kr.green.ebook.vo.ChoiceVo">
		SELECT * FROM choice where ch_title = #{Title} and ch_id = #{id}
	</select>
	<select id="selectChoice" resultType="int">
		select count(*) from choice where ch_title =#{Title} and ch_id = #{id}
	</select>
	<insert id="insertChoice">
		insert into
			choice(ch_title,ch_id)
			values(#{Title},#{id})
	</insert>
	<update id="updateToonByChoice">
		update toon
		set
			choice = (select count(*) from choice where ch_title = #{Title})
		where t_title = #{Title}
	</update>
	<!-- 찜 삭제 -->
	<delete id="deleteChoice">
		DELETE FROM choice where ch_title =#{Title} and ch_id = #{id}
	</delete>
<!-- 추천 기능 -->
	<select id="getUp" resultType="kr.green.ebook.vo.UpVo">
		SELECT * FROM up where up_title = #{Title} and up_id = #{id}
	</select>
	<select id="selectUp" resultType="int">
		select count(*) from up where up_title =#{Title} and up_id = #{id}
	</select>
	<insert id="insertUp">
		insert into
			up(up_title,up_id)
			values(#{Title},#{id})
	</insert>
	<update id="updateToonByUp">
		update toon
		set
			up = (select count(*) from up where up_title = #{Title})
		where t_title = #{Title}
	</update>
<!-- 전체 이벤트 불러오기 -->
	<select id="eventList" resultType="kr.green.ebook.vo.BookeventVo">
		select * from bookevent
		order by ev_num desc
	</select>
<!-- 이벤트 등록 -->
	<insert id="insertEvent">
		insert into
			bookevent(ev_title,ev_engtitle,ev_img,ev_t_title,ev_member,ev_banner,ev_page,ev_url)
			values(#{event.ev_title},#{event.ev_engtitle},#{event.ev_img},#{event.ev_t_title},#{event.ev_member},#{event.ev_banner},#{event.ev_page},#{event.ev_url})
	</insert>
<!-- 이벤트 불러오기 -->
	<select id="getEvent" resultType="kr.green.ebook.vo.BookeventVo">
		select * from bookevent where ev_engtitle = #{title}
	</select>
<!-- 이벤트 수정 -->
	<update id="updateEvent">
		update bookevent
		set
			ev_title = #{event.ev_title},
			ev_engtitle = #{event.ev_engtitle},
			ev_t_title = #{event.ev_t_title},
			ev_Deldate = #{event.ev_Deldate},
			ev_img = #{event.ev_img},
			ev_banner = #{event.ev_banner},
			ev_page = #{event.ev_page},
			ev_url = #{event.ev_url}
			
		where ev_num = #{event.ev_num}
	</update>
<!-- 전체 충전 리스트 -->
	<select id="payList" resultType="kr.green.ebook.vo.PayVo">
		select * from pay
	</select>
<!-- 충전용 배너 -->
	<select id="paybanner" resultType="kr.green.ebook.vo.BookeventVo">
		select * from bookevent where ev_engtitle = 'pay'
	</select>
<!-- 충전하기/사용하기 -->
	<insert id="insertPay">
		insert into
		pay(p_member,p_price,p_coin,p_point,p_title,p_edition,p_usedate,p_charging,p_one)
		values(#{pay.p_member},#{pay.p_price},#{pay.p_coin},#{pay.p_point},#{pay.p_title},#{pay.p_edition},#{pay.p_usedate},#{pay.p_charging},#{pay.p_one})
	</insert>
<!-- 결제내역 -->
	<select id="getPayList" resultType="kr.green.ebook.vo.PayVo">
		select * from pay where p_member =#{id}
		order by p_num desc
	</select>
<!-- 출석 포인트 삭제 -->
	<delete id="deletePay">
		DELETE FROM pay where p_usedate = #{pay.p_usedate}
	</delete>
<!-- 소장웹툰 -->
	<select id="getPayToon" resultType="kr.green.ebook.vo.ToonVo">
		select * from toon
			join (SELECT * FROM pay where p_member like #{id} and p_one = 'Y' ) as st
			on p_title = t_title
	</select>
<!-- 전체문의내역 --> 
	<select id="getClaim" resultType="kr.green.ebook.vo.ClaimVo"> 
		select * from claim where 1=1
		  	<if test="cri.type==1">
  				and (cl_title like concat('%',#{cri.search},'%')
  				or cl_member like concat('%',#{cri.search},'%'))
  			</if>
  			<if test="cri.type==2">
  				and cl_title like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==3">
  				and cl_member like concat('%',#{cri.search},'%')
  			</if>
  			order by cl_num desc
  			limit #{cri.startPage},#{cri.perPageNum}
	</select>
<!-- 공지사항 찾아가기 -->
	<select id="getClaimT" resultType="kr.green.ebook.vo.ClaimVo"> 
		select * from claim where cl_num = #{num}
	</select>
<!-- 답변 찾아오기 -->
	<select id="getClaimAnswer" resultType="kr.green.ebook.vo.ClaimVo"> 
		select * from claim where cl_answer = #{num} and cl_auth = 'ADMIN'
	</select>
<!-- 문의&공지 등록 -->
	<insert id="insertclaim">
		insert into 
		claim(cl_title, cl_content, cl_member, cl_auth, cl_file, cl_type, cl_answer)
		values(#{cl.cl_title},#{cl.cl_content},#{cl.cl_member},#{cl.cl_auth},#{cl.cl_file},#{cl.cl_type},#{cl.cl_answer})
	</insert>
<!-- 문의페이지네이션 -->
    <select id="getTotalCountByClaim" resultType="int">
		select count(*) from claim
			where 1=1
  			<if test="cri.type==1">
  				and (cl_title like concat('%',#{cri.search},'%')
  					or cl_member like concat('%',#{cri.search},'%'))
  			</if>
  			<if test="cri.type==2">
  				and cl_title like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==3">
  				and cl_member like concat('%',#{cri.search},'%')
  			</if>
  </select>
<!-- 문의 수정 -->
	<update id="updateClaim">
		update claim
		set
			cl_title = #{cl.cl_title},
			cl_content=#{cl.cl_content},
			cl_file=#{cl.cl_file},
			cl_type=#{cl.cl_type},
			cl_answer =#{cl.cl_answer}
			
		where cl_num = #{cl.cl_num}
	</update>
<!-- 랭킹 /up -->
	<select id="toonRanking" resultType="kr.green.ebook.vo.ToonVo">
		select * from toon
		order by up desc
		limit #{cri.startPage},#{cri.perPageNum}
	</select>
<!-- 조회수/views -->
	<select id="toonRankviews" resultType="kr.green.ebook.vo.ToonVo">
		select * from toon
		order by t_views desc
		limit #{cri.startPage},#{cri.perPageNum}
	</select>
<!-- 장르 랭킹 -->
	<select id="genreRank" resultType="kr.green.ebook.vo.ToonVo">
		select * from toon
		where 1=1
		<if test="cri.genre!='전체장르'">
			and t_type like concat('%',#{cri.genre},'%')
		</if>
	  	order by up desc
	  	limit #{cri.startPage},#{cri.perPageNum}
	</select>
<!-- 출석이벤트 확인-->
	<select id="payattend" resultType="kr.green.ebook.vo.PayVo" >
		select * from pay
		where p_usedate = #{pay.p_usedate} and p_member = #{pay.p_member}
	</select>
<!-- 출석포인트 확인 -->
	<select id="getPay" resultType="kr.green.ebook.vo.PayVo" >
		select * from pay
		where p_usedate = #{now}
	</select>
<!-- 완결 웹툰 기간 -->
	<select id="toonEnd" resultType="kr.green.ebook.vo.ToonVo">
		select * from toon
		where t_lastEpdate = #{now}
	</select>
<!-- 장르 불러오기 -->
	<select id="getGenrelist" resultType="kr.green.ebook.vo.GenreVo">
		select * from genre
	</select>
<!-- 완결 장르 불러오기 -->
	<select id="TheendGenre" resultType="kr.green.ebook.vo.ToonVo">
		select * from toon
			where lastEpisode='Y'
		<if test="cri.genre">
				and t_type like concat('%',#{cri.genre},'%')
		</if>
		order by up desc
	</select>
</mapper>