<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.ebook.dao.AdminDao">

<!-- 작품내용을 저장해 놓음 -->
  <select id="toonList" resultType="kr.green.ebook.vo.ToonVo">
		select * from toon
			where 1=1
			<if test="cri.type==0">
  				and (title like concat('%',#{cri.search},'%')
  					or artist like concat('%',#{cri.search},'%')
  					or lastEpisode like concat('%',#{cri.search},'%'))
  			</if>
  			<if test="cri.type==1">
  				and title like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==2">
  				and artist like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==3">
  				and lastEpisode like concat('%',#{cri.search},'%')
  			</if>
  			order by t_num desc
  			limit #{cri.startPage},#{cri.perPageNum}
  </select>
 <!-- 작품페이지네이션 -->
    <select id="getTotalCountByToon" resultType="int">
		select count(*) from toon
			where 1=1
  			<if test="cri.type==0">
  				and (title like concat('%',#{cri.search},'%')
  					or artist like concat('%',#{cri.search},'%')
  					or lastEpisode like concat('%',#{cri.search},'%'))
  			</if>
  			<if test="cri.type==1">
  				and title like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==2">
  				and artist like concat('%',#{cri.search},'%')
  			</if>
  			<if test="cri.type==3">
  				and lastEpisode like concat('%',#{cri.search},'%')
  			</if>
  			
  </select>

 <!-- 번호작품 -->
<select id="getToon" resultType="kr.green.ebook.vo.ToonVo">
		select * from toon where t_num = #{num}
</select>
<!-- 작품 등록 -->
	<insert id="insertToon">
		insert into
			toon(title,t_title,artist,plot,t_img,t_week,t_code,t_typify)
			values(#{toon.title},#{toon.t_title},#{toon.artist},#{toon.plot},#{toon.t_img},#{toon.t_week},#{toon.t_code},#{toon.t_typify})
	</insert>
<!-- 작품 수정 및 업데이트 -->	
	<update id="updateToon">
		update toon
			set
				title = #{toon.title},
				t_title = #{toon.t_title},
				artist = #{toon.artist},
				plot = #{toon.plot},
				t_img = #{toon.t_img},
				t_typify = #{toon.t_typify},
				t_week = #{toon.t_week},
				t_code = #{toon.t_code},
				t_views = #{toon.t_views},
				lastEpisode = #{toon.lastEpisode},
				choice = #{toon.choice},
				up = #{toon.up}
			where
				t_title = #{toon.t_title}
	</update>
<!-- 연재 등록 -->
	<insert id="insertEp">
		insert into
			episode(e_t_title,e_edition,e_title,e_img)
			values(#{ep.e_t_title},#{ep.e_edition},#{ep.e_title},#{ep.e_img})
	</insert>

<!-- 요일 -->
	<select id="weekList" resultType="kr.green.ebook.vo.ToonVo">
		select * from toon where t_week
	<!-- 요일별 -->
			<if test="cri.week==1">
				and t_week like '1' 
			</if>
			<if test="cri.week==2">
				and t_week like '2'
			</if>
			<if test="cri.week==3">
				and t_week like '3'
			</if>
			<if test="cri.week==4">
				and t_week like '4' 
			</if>
			<if test="cri.week==5">
				and t_week like '5' 
			</if>
			<if test="cri.week==6">
				and t_week like '6' 
			</if>
			<if test="cri.week==7">
				and t_week like '7'
			</if>
			<if test="cri.week==8">
				and t_week like '8' 
			</if>
	</select>
<!-- 요일(영어) 선택 -->
	<select id="getWeek" resultType="kr.green.ebook.vo.WeekVo">
		select * from week where w_code = #{t_week}
	</select>
<!-- 장르 선택  -->
	<select id="toonType">
		select * from toon where t_code
	</select>
</mapper>