@charset "UTF-8";

#img-holder{
	height: 500px;
}
.adm-evTitle{
	width: 80px;
}
.adm-ev-title{
	width: 100%;
	border: none;
}
.adm-ev-t_title{
	max-width: 80px;
}
.ad-not-t{
	width: 120px;
}
.ad-notice-title{
	width: 100%;
	height: 100%;
	border: none;
}
.ad-notice-content-box{
	width: 100%;
	height: 500px;
	border: 1px solid #eff1f4;
	overflow: hidden;
}
.ad-notice-content-box>textarea{
	width: 100%;
	height:100%;
	border: none;
	overflow-y: scroll;
}
.adm-ep-h{
	margin-top: 80px;
	text-align: center;
}
.ad-cl-not{
	padding: 8px 16px;
	font-weight: bold;
	color: blue;
}
.clcontent-box{ 
	width: 100%; 
	height: 500px; 
	display: block; 
	overflow-y: scroll; 
} 
.clcon-box{ 
	height: 300px; 
	overflow-y: scroll; 
	width: 100%; 
}
.adm-evtoon{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.adm-evtoon>li{
	margin-right: 15px;
	width: 16%;
}
.adm-evtooncheck{
	margin-right: 15px;
}
.adev-imgtable>img{
	height: 150px;
} 
.adm-ev-url{
	width: 250px;
	text-align: center;
}
.paylisy-box>td{
	text-align: center;
}







/*미디어 시작*/
@media (min-width: 961px)
	.toon-week-box,.toon-genre-box{
		padding:  8px 0;
	}
	.toon-week,.toon-genre{
		min-width: 68px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		margin: 8px;
		padding: 0 16px;
		font-size: 16px;
	}
}
.ad-fi-fi{
	position:absolute;
	bottom: 35px;
}
.display-flex{
	display:flex;
}
.ad-tail-t{
	width: 100px;
}
.ad-small-del{
	position: absolute;
	top: 125px;
}
.ad-ep-preview>img{
	width: 250px;
	float: left;
}
.ad-tail-epgo{
	line-height: 38px;
	float: left;
	font-size: 18px
}
.ad-tail-epgo-btn{
	border: none;
	background-color: transparent;
	font-size: 18px;
	line-height: 38px;
}
.adm-ev-imgbox{
	width: 100%;
}
.adm-evimg-box{
	width: 450px;
}
.adm-ev-content{
	width: 100%;
	min-height: 80px;
}
@media (max-width: 960px) and (min-width: 640px){
	.toon-week-box,.toon-genre-box{
		padding-left: 8px;
        margin-right: -16px;
        margin-left: -16px;
        scroll-padding-left: 16px;
	}
}
@media (max-width: 960px){
	.toon-week-box,.toon-genre-box{
		padding:  6px 0;
		white-space: nowrap;
        overflow: auto;
	}
	.toon-week,.toon-genre{
		min-width: 44px;
		height: 30px;
		line-height: 30px;
		border-radius: 16px;
		margin: 6px 4px;
		padding: 0 12px;
		font-size: 12px;
		scroll-snap-align: start;
	}
}