@charset "UTF-8";
		body{
            position: relative;
            margin: 0;
            overflow: scroll;
            background-color: #fff;
            color: #333;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            line-height: 1.5;
            text-size-adjust: none;
            overflow-wrap: break-word;
        }
        a{
            color: inherit;
            text-decoration: none;
        }
        a:hover{
            color: black;
            text-decoration: none;
        }
        
        /* 전체 */
        .com{
            position: relative;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
        }
        .com::after{
            content: '';
            display: block;
            clear: both;
        }
        /* header -> 메뉴 */
        .com-menu{
            z-index: 7;
            background-color: #fff;
            line-height: 64px;
            white-space: nowrap;
        }

        /* header -> 로고 */
        .gnb-logo{
            text-align: center;
            font-size: 45px;
            color:#fff;
            background: #ed1c24 padding-box;
        }
        
        /* header -> 네비게이션 */
        .gnb{
            line-height: 0;
            font-size: 0;
            white-space: nowrap;
        }
        ol,ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
		.search{
			height: 35px;
		}
        /* 사이트 네비게이션 */
        .gnb-list{
            white-space: nowrap;
        }
        .gnb-item{
            position: relative;
            vertical-align: top;
            margin-right: 12px;
            text-align: center;
        }
        .gnb-link{
            position: relative;
            display: inline-block;
            padding: 0 8px;
            vertical-align: middle;
            text-align: center;
            border-radius: 2px;
            text-transform: uppercase;
            color: rgb(0,0,0);
            font-size: 16px;
            font-weight: bold;
            line-height: 48px;
        }
        
        /* 검색창 열기 */
        .search-btn{
            padding: 0;
            overflow: hidden;
            position: absolute;
            width: 48px;
            height: 48px;
            border: 0;
            font-size: 1px;
            color: black;
            color: transparent;
            background: url("http://cdn.lezhin.com/files/assets/img/icon-search.svg") no-repeat 50% 16px/20px;
        }
        /* 검색창 */
        .search{
            position: absolute;
            z-index: 6;
            box-sizing: border-box;
            text-align: left;
        }
        .search-field{
            position: absolute;
            top: 0;
            right: 0;
        }
        .search-input{
            display: block;
            color: #000;
            outline: 0;
            border: 0;
            border-radius: 0;
            background: #fff;
            -webkit-appearance: none;
            appearance: none;
        }
        .search-list{
            position: absolute;
            overflow-y: auto;
            z-index: 100;
            width: 280px;
            font-size: 16px;
            background-color: #fff;
            box-shadow: 0 1px 2px rgba(128,128,128,0);
        }
        .search-item{
            display: block;
            background-position: 100% 0;
            background-repeat: no-repeat;
            background-size: 50px 50px;
            cursor: pointer;
            height: 58px;
            margin: 0;
            padding: 4px 10px;
            position: relative;
        }
        .search-thumb{
            position: absolute;
            right: 4px;
            top: 4px;
            height: 50px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 50px 50px;
        }
        .search-img{
            display: block;
            min-height: 50px;
            height: 100%;
        }
        .search-title{
            font-weight: bold;
        }
        .search-artist{
            font-size: 12px;
            color: #666;
        }
        .search-title,.search-artist{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-right: 50px;
            text-align: left;
            margin: 0;
        }

        /* 로그인관련 */
        .logNav-btn{
            position: absolute;
            overflow: visible;
            height: 48px;
            line-height: 48px;
            padding: 0;
            border: none;
            box-sizing: border-box;
            background: transparent;
            color: transparent;
            text-align: left;
            white-space: nowrap;
            font-size: 0;
            -webkit-tap-highlight-color: initial;
        }
        .logNav-btn::after{
            content: '';
            position: relative;
            display: inline-block;
            vertical-align: top;
            background: #000;
        }
        .logNav-text{
            position: relative;
            display: inline-block;
            text-align: center;
            vertical-align: top;
            color: #000;
            font-weight: bold;
        }
        .logNav{
            transform: translateX(calc(var(--translate-logNav)*1px)) translateZ(0);
        }
        .logNav{
            --translate-logNav: 0;
            background: #fff;
            z-index: 7;
            text-align: left;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            will-change: opacity, transform;
            padding: 20px;
        }
        .logNav-before .account{
            padding: 0 16px 16px;
        }
        .account{
            max-width: 300px;
            margin: auto;
            line-height: 0;
        }
        .login-heading{
            margin-top: 15px;
            text-align: center;
        }
        .login-item{
            position: relative;
            margin: 12px 0;
            padding-top: 16px;
            font-size: 0;
        }
        .login-input{
            display: block;
            width: 100%;
            height: 45px;
            margin-bottom: 8px;
            line-height: 32px;
            padding: 0 2px;
            -webkit-appearance: none;
            border: 0;
            border-radius: 0;
            border-bottom: 1px solid #c5cbd3;
            box-sizing: border-box;
            font-size: 16px;
            font-weight: bold;
        }
        .login-btn{
            width: 100%;
            height: 40px;
            border: none;
            background-color: #ed1c24;
            font-size: 14px;
            color: #fff;
            margin-top: 20px;
        }
        .s-bb{
        	margin: 40px auto;
        }
        .s-btn{
            font-size: 12px;
            color: steelblue;
        }
        .c-help{
            margin: 80px auto;
            width: 100%;
            font-size: 12px;
            color: #767676;
            white-space: normal;
        }
        .account p{
            line-height: 1.5;
        }
        .log-admin{
        	text-align: center;
        }
        .log-spanadmin{
        	color: tomato;
        }

        /* 브라우저 min */
        @media(min-width: 961px){
            /* min 961 -> 메뉴 */
            .com-menu{
                border-top: 24px solid #fff;
                border-bottom: 24px solid #fff;
            }
            
            /* min 961 -> 로고 */
            .gnb-logo{
                float: left;
                width: 64px;
                height: 64px;
                line-height: 64px;
            }
            .gnb-logo::after{
                width: 27px;
                height: 29px;
            }
            /* min 961 -> 사이트 네비 */
            .gnb{
                float: left;
                margin: 8px 0 4px 48px;
            }
            .gnb-item{
                display: inline-block;
            }
            .gnb-link:hover::after{
                content: '';
                position: absolute;
                background: black;
                height: 2px;
                left: 8px;
                right: 8px;
                bottom: 8px;
            }
            /* min 961 -> 검색창 열기 */
            .search-btn{
                top: 50%;
                right: 124px;
                transform: translateY(-50%);
            }
             /* min 961 -> 검색창 */
             .search{
                position: absolute;
                top: 16px;
                right: 124px;
                width: 280px;
                transform-origin: 100% 0;
                border: 1px solid #dbdee3;
            }
            .search-filed-btn{
                content: '';
                position: absolute;
                border: none;
                z-index: 2;
                top: 0;
                right: 5px;
                width: 35px;
                height: 35px;
                background: url("http://cdn.lezhin.com/files/assets/img/home_search_icon.png") no-repeat center;
                background-size: contain;
            }
            .search-input{
                width: 280px;
                height: 35px;
                line-height: 20px;
                padding: 6px 40px 8px 8px;
                border-bottom: 1px solid #000;
                font-size: 16px;
                box-shadow: 0 0 0 10px #fff;
            }
            .search-list{
                top: 48px;
                left: auto;
                right: 0;
            }
            .search-title,.search-artist{
                height: 25px;
                line-height: 25px;
            }
            .search-title{
                font-size: 16px;
            }

            /* min 961 -> 로그인 관련 열기 */
            .logNav-btn{
                top: 50%;
                right: 16px;
                transform: translateY(-50%);
            }
            .logNav-btn::after{
                width: 28px;
                height: 4px;
                top: 10px;
                box-shadow: 0 8px #000, 0 16px #000, 0 24px #000;
            }
            .logNav-text{
                top: 10px;
                height: 28px;
                line-height: 23px;
                padding: 0 12px;
                border-top: 4px solid #000;
                border-bottom: 4px solid #000;
                font-size: 12px;
            }
            .logNav{
                position: absolute;
                top: 64px;
                right: 16px;
                width: 280px;
                height: 450px;
                transform-origin: 100% 0;
                border: 1px solid #dbdee3;
            }
        }
        @media(min-width: 640px){
            /* min 640 -> 전체 */
            .com{
                padding-left: 16px;
                padding-right: 16px;
            }
            /* min 640 -> 공통메뉴 */
            .com-menu{
                box-shadow: -1000px 0 0 #fff, 1000px 0 0 #fff;
            }
        }
        @media(min-width: 1281px){
            /* min 1281 -> 전체 */
            .com{
                max-width: 1212px;
            }
            
        }
        
        /* 브라우저 max */
        @media (max-width: 639px){
            /* max 639 -> 로고 */
            .gnb-logo{
                margin-left: 8px;
            }
            /* max 639 -> 로그인관련 */
            .logNav-btn{
                right: 4px;
            }
            .com-home{
            padding: 0 8px}

        }

        @media(max-width: 1280px) and (min-width: 961px){
            /* max 1280 -> 전체 */
            .com{
                max-width: 1036px;
            }
        }
        @media(max-width: 960px) and (min-width: 640px){
            /* max 960 -> 로고 */
            .gnb-logo{
                margin-left: -4px;
            }
            /* max 960 -> 로그인관련 */
            .logNav-btn{
                right: 8px;
            }
        }
        
        @media(max-width: 960px){
            /* max 960 -> 전체 */
            .com{
                width: 100%;
            }
            /* max 960 -> 공통메뉴 */
            .com-menu{
                border-top: 8px solid #fff;
                border-bottom: 8px solid #fff;
            }
            .com-menu::before,.com-menu::after{
                position: absolute;
                z-index: 2;
                top: 48px;
                bottom: 0;
                width: 24px;
                pointer-events: none;
            }
            .com-menu::before{
                left: 0;
                background: linear-gradient(to left, #fff, rgba(255,255,255,0));
            }
            .com-menu::after{
                right: 0;
                background: linear-gradient(to left, #fff, rgba(255,255,255,0));
            }
            /* max 960 -> 로고 */
            .gnb-logo{
                display: block;
                position: relative;
                z-index: 5;
                width: 48px;
                height: 48px;
                line-height: 40px;
                border: 4px solid #fff;
            }
            .gnb-logo::after{
                width: 20px;
                height: 22px;
            }
            /* max 960 -> 사이트네비 */
            .gnb{
                margin-top: 8px;
                padding: 0 2%;
                overflow-x: auto;
            }
            .gnb-list{
                width: 100%;
                display: table;
            }
            .gnb-item{
                display: table-cell;
            }
            /* 검색창 */
            .search-btn{
                position: absolute;
                top: 0;
                right: 84px;
            }
            /* max 960 -> 로그인 관련 */
            .logNav-btn{
                position: absolute;
                top: 0;
                padding: 0 8px;
            }
            .logNav-btn::after{
                width: 20px;
                height: 3px;
                top: 14px;
                box-shadow: 0 6px #000, 0 12px #000, 0 18px #000;
            }
            .logNav-text{
                top: 14px;
                height: 21px;
                line-height: 18px;
                padding: 0 4px;
                border-top: 3px solid #000;
                border-bottom: 3px solid #000;
                font-size: 10px;
            }
        }

        .display-none{
            display: none;
        }
        /*header 마이페이지*/
        .rating{
            display: -webkit-box;
            display: flex;
            height: 50px;
            padding: 0 16px;
            font-size: 0;
            text-align: center;
            border-radius: 25px;
            border: 1px solid #c5cbd3;
            background-color: #fff;
        }
        .rating-link{
            -webkit-box-flex: 1;
            flex-grow: 1;
            position: relative;
            display: inline-block;
            text-align: center;
            white-space: nowrap;
            font-size: 14px;
            color: #000;
            font-weight: bold;
            line-height: 50px;
            cursor: default;
        }
        .rating-link::after{
            content: '';
            display: inline-block;
            width: 12px;
            height: 6px;
            margin: 0 0 0 8px;
            vertical-align: middle;
            border-left: 2px solid #ff0000;
            border-bottom: 2px solid #ff0000;
            -webkit-transform: rotate(-45deg) translateY(-4px);
            transform: rotate(-45deg) translateY(-4px);
        }
        .logNav-link{
            display: block;
            height: 60px;
            line-height: 60px;
            font-size: 16px;
            color: #252b37;
            font-weight: 400;
            border-bottom: 1px solid #dbdee3;
            -webkit-tap-highlight-color: initial;
        }
        .logNav-link-last{
            border: none;
        }
        .logUser{
            margin: 20px auto;
        }
        .logNav-last{
            position: absolute;
            bottom: 10px;
            width: 238px;
        }
        .log-user{
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .log-user-id{
            font-size: 13px;
        }
        .log-coinList{
            font-size: 12px;
            line-height: 20px;
            word-spacing: normal;
            color: #677383;
        }
        .log-coin{
            display: inline-block;
            position: absolute;
            right: 25px;
            color: #5d779f;
            font-size: 13px;
            font-weight: bold;
        }
        .log-coin::after{
            content: '';
            display: inline-block;
            width: 9px;
            height: 9px;
            vertical-align: middle;
            margin-left: 3px;
            border-top: 2px solid #7d95b3;
            border-right: 2px solid #7d95b3;
            transform: rotate(45deg);
        }
       