@charset "UTF-8";
@media(min-width:640px){

}
@media(min-width:961px){
	.payment-box{
		padding: 40px 0;	
	}
	.help-box-right{
		border: 1px solid #dbdee3;
		margin-top: 28px;
		margin-left:20px;
		width: 73%;
		float: right;
	}
	.hbox-right-tap{
		padding: 0 20px;
	}
	.help-box-text{
		padding: 0 24px 20px;
	}
	.clmylist{
		padding: 16px;
	}
	.clmylist-header{
		display: table;
	}
	.clmylist-headerT,.clmylist-headerD,.clmylist-headerS{
		display: table-cell;
	}
	.clmylist-link{
		display: table;
		table-layout: fixed;
		padding: 24px;
	}
	.clmylist-itemT{
		display: table-cell;
		padding-left: 16px
	}
	.clmylist-itemD{
		display: table-cell;
		width: 148px;
		text-align: center;
	}
	.clmylist-itemS{
		display: table-cell;
		width: 140px;
		text-align: center;
	}
	.clmyregist-left,.clmyregist-right{
		padding: 16px;
	}
	.toon-box,.ranking-box{		
		margin-top: 40px; 
		padding: 24px;
	}
	.ranking-heading{
		margin-bottom: 12px;
		font-size: 24px;
		line-height: 32px;
	}
	.ranking-list{
		min-height: 308px;
	}
	.ranking-link{
		margin-left: 8px;
	}
	.ranking-count{
		width: 48px;
		padding: 10px 8px 0;
	}
	.ranking-rank{
		margin-bottom: 6px;
	}
	.ranking-item{
		width: calc((100%-64px)/3);
	}
	.ranking-info{
		width: 100%;
		padding-top: 8px;
	}
	.ranking-info-title{
		font-size: 16px;
		line-height: 27px;
	}
}
@media(min-width:1281px){
	.hbox-right-tap-a{
		font-size: 16px;
	}
	.hbox-right-tap-a:nth-of-type(n+2){
		margin-left: 24px;
	}
	
	
	
}
@media(max-width:1281px) and (min-width:961px){
	.hbox-right-tap-a{
		font-size: 14px;
	}
	.hbox-right-tap-a:nth-of-type(n+2){
		margin-left: 20px;
	}
}
@media(max-width:960px){
	.help-box-right{
		border-top: 1px solid #dbdee3;
	}
	.hbox-right-tap-a{
		font-size: 14px;
	}
	.hbox-right-tap-a:nth-of-type(n+2){
		margin-left: 16px;
	}
	.help-box-left{
		display: none;
	}
	.help-box-text{
		padding: 0;
	}
	.hbox-right-tap{
		padding: 0 16px;
	}
	.clmylist-header{
		display: none;
	}
	.clmylist-itemT{
		width: 100%;
	}
	.clmylist-itemD{
		text-align: left;
	}
	.clmylist-itemS{
		position: absolute;
		right: 16px;
		bottom: 16px;
		text-align: right;
	}
	.toon-box,.ranking-box{		
		margin-top: 40px; 
	}
	.ranking-list{
		height: 272px;
		overflow-x: auto;
		flex-direction: column;
		scroll-snap-type: x mandatory;
	}
	.ranking-item{
		width: 310px;
	}
	.ranking-info-title{
		font-size: 13px;
		line-height: 27px;
	}
	.ranking-count{
		width: 40px;
		padding: 4px 4px 0;
	}
	.comicInfo-Epdetail{
		margin-left: -350px;
	}
	.comic-info>img{
		height: 330px;
	}
}
@media(max-height: 960px) and (min-width:640px){
	.comicInfo-Epdetail{
		margin-left: -430px;
	}
}
@media(max-height: 767px) and (min-width:640px){

}