@charset "UTF-8";
@media(min-width:640px){
    .comicInfo{
        float: left;
        min-height: 100vh;
    }
}
@media(min-width:1281px){
    .comicInfo{
        width: 420px;
    }
}
@media(max-height: 960px) and (min-width:640px){
    .comicInfo{
        width: 48%;
        padding-top: 96%;
    }
}
@media(max-height: 767px) and (min-width:640px){
    .comicInfo{
        height: 100%;
        position: absolute;
    }
}
