@charset "UTF-8";
.signup-box{
	position: relative;
	margin: auto;
	width: 500px;
}
.signup-item{
	position: absolute;
	display: block;
	width: 80%;
	margin: auto;
	line-height: 32px;
	padding: 0 2px;
	border: none;
	box-sizing: border-box;
	font-size: 16px;
	font-weight: bold;
}
.sign-up{
	border: 0;
	width: 100%
	
}
.sign-up>input{
	border: none;
	width: 100%
}