@charset "UTF-8";
.comicInfo{
    position: relative;
    color: #fff;
    background: rgb(255, 109, 109);
    transform: translateZ(0);
}
.comicInfo-img{
	position: absolute;
    z-index: 1;
    top: 0;
    left: -9px;
}
.comicInfo-title{
	margin: 0 0 16px;
    line-height: 38px;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
}